.wrapper {
  height: 420px;
  width: 654px;
  margin: 50px auto;
  margin-left: 35%;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-img {
  float: left;
  height: 420px;
  width: 327px;
  align-items: center;
}

.product-img img {
  border-radius: 7px 0 0 7px;
  object-fit: cover;
}

.product-info {
  float: left;
  height: 420px;
  width: 327px;
  border-radius: 0 7px 10px 7px;
  background-color: #244324;
}

.product-text {
  height: 300px;
  width: 327px;
}

.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: black;
}

.product-text h2 {
  margin: 0 0 47px 38px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #e8cea8;
  letter-spacing: 0.2em;
}

.product-text p {
  height: 125px;
  margin: 0 0 0 38px;
  color: #fff;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;
  text-align: center;
}

.product-price-btn button {
  height: 50px;
  width: 176px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #259e57;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 11px 50px -7px grey;
}

.product-price-btn button:hover {
  color: #ffffff;
  background-color: #259e57;
  transition-duration: 1s;
}

.btn-about{
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  width: 120px;
  height: 120px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  background-color: #244324;
  transition: .4s;
}

.btn-about:hover{
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}
.btn-about:active{
  box-shadow: inset 0 0 5px rgba(128, 128, 128, 0.32);
  background-image: -webkit-linear-gradient(#E8CEA8 0%, #e8cea8be 100%);
  background-image: linear-gradient(#E8CEA8 0%, #e8cea8be 100%);
}
.smallHead{
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.Modal{
  margin: 50px auto;
  padding: 20px;
  margin-left: 35%;
  margin-bottom: 20%;
  height: 500px;
  width: 700px;
  background-color: #244324;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}
.smallHead > h2{
  color:#E8CEA8 ;
  font-size: 3em;
}
.Modal > p{
  color:#ffffff ;
  font-size: 25px;
  padding: 30px;
  text-align: justify;
}
.Modal > img{
  width: 100px;
  height: 100px;
}