.footer {
  background-color: #244324;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  z-index: 99;
  text-align: center;
}

.field {
  display: flex;
  width: 330px;
  justify-content: space-around;
}

/*Social Network Site to follow IAS */
.sns-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border: none;
  transition-duration: 0.5s;
  transform: rotateX(45deg);
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.sns-btn--linked {
  background-color: #7cc9f8;
}
.sns-btn--facebook {
  background-color: #0b57fc;
}
.sns-btn--instagram {
  background-color: #ff6daa;
}
.sns-btn--siteweb {
  background-color: #89f397;
}
.sns-btn:hover {
  transform: scale(1.2);
  box-shadow: none;
}
.sns-btn__icon {
  font-size: 33px;
  letter-spacing: 0.1em;
  color: #fff;
}
