.search-box {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: #244324;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid #244324;
  padding: 5px;
  margin: 10%;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.search-box:hover {
  width: 35%;
  cursor: pointer;
}

.search-box:hover input {
  display: block;
}

.search-box:hover .fa {
  background: #e8cea8;
  color: white;
}
